{% extends "base.html" %}
{% block content %}

<h2 class="mb-4 text-center">Update Department</h2>

<form method="POST" class="card p-4 shadow">

    <div class="mb-3">
        <label>Department Name</label>
        <input type="text" name="department_name" class="form-control" value="{{ dept.Department_Name }}" required>
    </div>

    <div class="mb-3">
        <label>Department Email</label>
        <input type="email" name="department_email" class="form-control" value="{{ dept.Department_Email }}">
    </div>

    <div class="mb-3">
        <label>Department Office</label>
        <input type="text" name="department_office" class="form-control" value="{{ dept.Department_Office }}">
    </div>

    <button type="submit" class="btn btn-warning w-100">Update Department</button>

</form>

{% endblock %}
