{% extends "base.html" %}
{% block content %}

<h2 class="mb-4 text-center">Update Section</h2>

<form method="POST" class="card p-4 shadow">

    <div class="mb-3">
        <label>Dept ID</label>
        <input type="number" name="dept_id" class="form-control" value="{{ sec.Dept_ID }}" required>
    </div>

    <div class="mb-3">
        <label>Course ID</label>
        <input type="number" name="course_id" class="form-control" value="{{ sec.Course_ID }}" required>
    </div>

    <div class="mb-3">
        <label>Section Number</label>
        <input type="number" name="section_no" class="form-control" value="{{ sec.Section_No }}" required>
    </div>

    <div class="mb-3">
        <label>Instructor Name</label>
        <input type="text" name="instructor_name" class="form-control" value="{{ sec.Instructor_Name }}" required>
    </div>

    <button type="submit" class="btn btn-warning w-100">Update Section</button>

</form>

{% endblock %}
